.Body{
    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.Table{
   
    width: 60%;
    height: 60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    
}

.Table h1{
 
    margin: 0px;
    padding: 0px;
    
}


.table, td{
    border: 1px solid #52796f;
    text-align: center;
    color: black;
    font-size: 15px;


    width: 50px;
    height: 50px;

}
  