.Table{
   
    width: 60%;
    height: 60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    
}



.letters{

    text-align: center;
    color: black;
   


}


.letterBox {
    border: 1px solid #52796f;
    text-align: center;
    color: black;
    
    margin: 1px;

    
    height: 50px;
    width: 50px;
}

  
.rows{
    display: flex;
    flex-direction: row;

    margin: 1px;
 
   
   
}

