.Table{
   
    width: 60%;
    height: 55vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    
}

.letterBox {
    border: 1px solid #52796f;
    
    height: 50px;
    width: 50px;

    margin: 2px;
}

.Letters{
    text-align: center;
    
    font-size:30px;
    font-weight: bold;

}

.rows{
    display: flex;
    flex-direction: row;

    margin: 2px;
   
}

