.keyBoard{
   width: 40%;
   height: 30vh;
    
}

.buttonBox{
    background-color:silver;
    border: 0px;
    border-radius: 4px;
    color: black;
    width: 40px;
    height: 50px;

    margin: 4px;
    

}

.buttonBoxEnter{
    background-color:silver;
    border: 0px;
    border-radius: 4px;
    color: black;
    width: 70px;
    height: 50px;

    margin: 4px;
    padding: 2px;

    float: left;

}

@media all and (max-width:721px) { 
    .keyBoard{
       width:80%;
   } 
}