.keyBoard{
   width: 40%;
   height: 30vh;
    
   
}

.buttonBox{
    background-color:silver;
    border: 0px;
    border-radius: 4px;
    color: black;
    width: 40px;
    height: 50px;

    margin: 4px;
    

}

.buttonBoxEnter{
    background-color:silver;
    border: 0px;
    border-radius: 4px;
    color: black;
    width: 70px;
    height: 50px;

    margin: 4px;
    padding: 2px;

    float: left;

}


.Table{
   
    width: 50%;
    height: 60vh;

    margin: 10px;


    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Table h1{
 
    margin: 0px;
    padding: 0px;
    
}


.table, td{
    border: 1px solid grey;
    text-align: center;
    color: black;


    width: 50px;
    height: 50px;

}
  
@media all and (max-width:721px) { 
    .keyBoard{
       width:80%;
   } 
}