.NavBar{
    width: 100%;
    height: 10vh;

   
    display: flex;
    align-items: center;
  }
 
.Title{
  width: 57%;

    
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items:flex-end;
}
 
.switch{
  width: 40%;

  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items:flex-end;
}
  .NavBar h1{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  
  }
  